extends ./layout

//	layout.jade の block content の内容
block content
	h1= title
	p Welcome to #{title}
	div(ng-controller="ChatCtrl")
		div(ng-show="!isInRoom")
			form(ng-submit="roomEnterSubmit()")
				p room
				input(type="text", name="text", ng-model="room")
				p name
				input(type="text", name="text", ng-model="name")
				p
				input.btn-info(type="submit", value="Enter")
				input.btn-danger(type="reset", value="reset!")
		div(ng-show="isInRoom")
			p 現在このサーバーに接続している人は
				span {{ num }}
				|人います。
			//	          /download/9111483-DPDP.m4a
			//audio(ng-src="/download/9111483-DP.m4a", controls, autoplay)
			//効果音ボタン（暫定）
			input(type="button", ng-click="clicked()", value="SE")
			audio#SE1(ng-src="./Jamy.mp3")
			div(ng-show="musicAudio")
				h2 {{musicName}}
				//	ng-src の場合は {{}} が必須?!
				audio(ng-src="{{musicSrc}}", controls, autoplay)
			//	現在は未使用
			div(ng-show="queue.length")
				a.btn.btn-mini.btn-success(ng-click='queue.start()')
					| 再生
				a.btn.btn-mini.btn-danger(ng-click='queue.stop()')
					| 停止
				a.btn.btn-mini.btn-info(ng-click='queue.info()')
					| 情報取得
			form(ng-submit="submit()")
				input(type="text", name="text", ng-model="text")
				input.btn-info(type="submit", value="送信")
				input.btn-danger(type="reset", value="reset!")
			ul
				li(ng-repeat="message in messages")
					label {{ message.text }}
			//	file-upload
			.container(flow-init)
				h2 File Transfers:
				div(ng-show="$flow.files.length")
					p
						a.btn.btn-small.btn-success(ng-click='$flow.resume()') All Upload
						//a.btn.btn-small.btn-danger(ng-click='$flow.pause()') Pause
						a.btn.btn-small.btn-info(ng-click='$flow.cancel()') All Delete
						//span.label.label-info Size: {{$flow.getSize()}}
						//span.label.label-info Is Uploading: {{$flow.isUploading()}}
					table.table.table-hover.table-bordered.table-striped(flow-transfers='flow-transfers')
						thead
							tr
								th #
								th Name
								th Size
								//th Relative Path
								//th Unique Identifier
								//th #Chunks
								th Progress
								//th Paused
								//th(ng-show="file.isUploading()")
								//	Uploading
								//th Completed
								th Controls
						tbody
							tr(ng-repeat='file in transfers')
								//div(flow-files-submitted="file.name ... properties '$files', '$event' can be accessed ... ")
								//div(flow-file-success="alert($file.name);")
								td {{$index+1}}
								td {{file.name}}
								td {{file.size}}
								//td {{file.relativePath}}
								//td {{file.uniqueIdentifier}}
								//td {{file.chunks.length}}
								td {{file.progress() * 100.0}} %
								//td {{file.paused}}
								//td(ng-show="file.isUploading()")
								//	{{file.isUploading()}}/100
								//td {{file.isComplete()}}
								td
									.btn-group
										//a.btn.btn-mini.btn-warning(ng-click='file.pause()', ng-show='!file.isComplete()')
										//	| Pause
										//a.btn.btn-mini.btn-warning(ng-click='file.resume()', ng-show='!file.isComplete() && (file.progress() == 0)')
										//	| Upload
										a.btn.btn-mini.btn-success(ng-click='addQueue(file)', ng-show='file.isComplete()')
											| Add Queue
										a.btn.btn-mini.btn-danger(ng-click='file.cancel()', ng-show='!file.isComplete()')
											| Delete
										a.btn.btn-mini.btn-info(ng-click='file.retry()', ng-show='file.error')
											| Retry
				hr.soften
				.alert(flow-drop='flow-drop', flow-drag-enter='class=\'alert-success\'', flow-drag-leave='class=\'\'', ng-class='class')
					hr
					hr
					p Drag And Drop your file here
					p Valid extension are mp3...
					hr
					hr
				a.btn.btn-success(href="#", flow-btn, flow-attrs="{accept:'audio/mp3'}")
					| Select Music (Mp3 files)
				//a(href="#", class="btn btn-danger", ng-show="$flow.files.length", ng-click="$flow.cancel()")
				//	| Remove